    body {
        background-color: #000000;
    }
    
    h1 {
        text-align: center;
        text-justify: inter-word;
        font-size: 50px;
        font-family: Verdana !important;
        font-weight: 1000;
        margin-top: 20px;
        color: #F4A950;
    }
    
    p {
        font-family: Verdana !important;
        font-weight: 1000;
        font-size: 20px;
        margin-bottom: 100px;
        color: #FFFFFF;
        width: 100%;
        line-height: 50px;
        text-align: center;
    }
    
    img {
        margin-top: 40px;
    }