body {
    background-color: #000000;
}

h1 {
    text-align: justify;
    text-justify: inter-word;
    font-size: 40px;
    font-family: Verdana !important;
    font-weight: 700;
    color: #FFFFFF;
    clear: right;
    margin-top: 150px;
}

h2 {
    font-family: Verdana !important;
    font-weight: 250;
    font-size: 30px;
    color: #F4A950;
    width: 100%;
    line-height: 50px;
    clear: right;
}

h3 {
    font-family: Verdana !important;
    font-weight: 250;
    font-size: 20px;
    margin-bottom: 100px;
    color: #FFFFFF;
    width: 100%;
    line-height: 50px;
    clear: right;
}

img {
    display: block;
    margin-left: auto;
    margin-top: 40px;
    float: left;
}